<div class="container" style="width: 900px; margin-top: 20px;">
  <h2 class="text-center m-5">Cashier</h2>
  <table class="table table-striped table-bordered" style="table-layout: fixed" *ngFor="let table of tables">
    <thead>
    <tr>
      <th>Table</th>
      <th>Total</th>
      <th>Actions</th>
    </tr>
    </thead>

    <tbody>
    <tr>
      <td>{{table.number}}</td>
      <td>€ {{table.bill}}</td>
      <td>
        <button class="btn btn-success" (click)="emitReceipt(table.number, table.bill)">Emit Receipt</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

